.Header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1em;
    position: relative;
    background-color: #ffffff;
}
.customContainer{
    margin: 0 24em;
}
.navbarBrand{
    font-size: inherit;
}
.navbarBrand img{
    width: 9.875em;
}
.navLink {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875em;
    font-weight: 700;
    padding: 0 1em;
    line-height: 1;
}

.startedBtn a {
    background-color: var(--orange);
    line-height: 1.5;
    padding: 0.4em 1em;
    font-weight: 500;
    border-radius: 25px;
    color: #fff !important;
    padding: 0.4em 1.2em;
    box-shadow: none;

}

.questionIcon{
    background-color: var(--success);
    color: #fff;
    padding: 0.62em;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .customContainer{
        margin: 0 16em;
    }
}
@media (max-width: 768px) {
    .customContainer{
        margin: 0 12em;
    }
}
@media (max-width: 500px) {
    .customContainer{
        margin: 0 5em;
    }
}