.providerSection{
    padding-bottom: 5em;
}
.providerSection img{
    width: 25.4375em;
}
.para {
    width: 100%;
    max-width: 19.75em;
    font-size: 1.25em;
    line-height: 1.5625em;
    font-weight: 500;
    color: var(--grey);
}
.Heading {
    color: var(--purple);
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0;
    text-transform: capitalize;
}
.highlight{
    color: var(--success);
    font-weight: 300;
}
.providerSection .btn {
    background-color: var(--orange);
    color: #ffffff;
    border-radius: 2em;
    font-size: 1em;
}
